In [37]:
import numpy as np 
import pandas as pd
sedesdf = pd.DataFrame({ 
    'IdSede': [0, 1, 2, 3, 4, 5, 6, 7], 
    'NombreSede': ['CIUDAD U.', 'S.J.L', 'CHILCA','VILLA RICA','HUARMEY','CHANCAY','HUARAL','OYÓN'] 
}) 
print(sedesdf)
df_sedes_csv = pd.DataFrame(sedesdf)
df_sedes_csv.to_csv('sedes.csv', index=False, encoding="utf-8")

   IdSede  NombreSede
0       0   CIUDAD U.
1       1       S.J.L
2       2      CHILCA
3       3  VILLA RICA
4       4     HUARMEY
5       5     CHANCAY
6       6      HUARAL
7       7        OYÓN

In [38]:
import numpy as np
import pandas as pd
# Leer los datos del archivo CSV
file_path1 = 'tabla_resultados_unidos.csv'
file_path2 = 'tabla_carreras_unidas.csv'
df1 = pd.read_csv(file_path1)
df2 = pd.read_csv(file_path2)
print(df1)
print(df2)

       CODIGO                  APELLIDOS Y NOMBRES  \
0      859632           ABAD VERA, NILTON ANDERSON
1      848256    ABANTO CCAHUANA, NICOLE ALEXANDRA
2      858518  ABANTO CHOQUEHUANCA, KAREN ESTEFANY
3      862333      ABANTO GUIZADO, MATHIAS JOAQUIN
4      856511           ABANTO MARCOS, BRISA MARIA
...       ...                                  ...
57882  146772      SILVESTRE ATOCHE, MATTEO MARTIN
57883  182148   TUPIÑO COLQUI, ANGIELI MARIA SOFIA
57884  743153            CÁCERES SANDOVAL, EDUARDO
57885  815534       BAYLON CAMPOJO, LUIS FABRIZZIO
57886  195220  BALLON CHANDUVI, REYNA LEONOR ALEXA

                             ESCUELA PROFESIONAL  PUNTAJE  MERITO E.P  \
0                                MEDICINA HUMANA   618.75         NaN
1                                MEDICINA HUMANA  950.375         NaN
2                                MEDICINA HUMANA   1035.5         NaN
3                                MEDICINA HUMANA  667.375         NaN
4                                MEDICINA HUMANA  356.875         NaN
...                                          ...      ...         ...
57882  TEC. MED. TERAPIA FÍSICA Y REHABILITACIÓN   608.25         1.0
57883  TEC. MED. TERAPIA FÍSICA Y REHABILITACIÓN  560.875         NaN
57884                        COMUNICACIÓN SOCIAL  981.625         1.0
57885                           EDUCACIÓN FÍSICA  979.501         1.0
57886                                 PSICOLOGÍA  629.625         1.0

      OBSERVACI&OacuteN  IdModalidad Proceso
0                   NaN            0  2025-1
1                   NaN            0  2025-1
2                   NaN            0  2025-1
3                   NaN            0  2025-1
4                   NaN            0  2025-1
...                 ...          ...     ...
57882   ALCANZO VACANTE           11  2025-2
57883               NaN           11  2025-2
57884   ALCANZO VACANTE           11  2025-2
57885   ALCANZO VACANTE           11  2025-2
57886   ALCANZO VACANTE           11  2025-2

[57887 rows x 8 columns]
     IdCarrera                                       Carrera
0           11                               MEDICINA HUMANA
1           12                                   OBSTETRICIA
2           13                                    ENFERMERÍA
3          141  TEC. MED. LAB. CLÍNICO Y ANATOMÍA PATOLÓGICA
4          142     TEC. MED. TERAPIA FÍSICA Y REHABILITACIÓN
..         ...                                           ...
106       1454               COMPUTACIÓN CIENTÍFICA - CHILCA
107       1623                   INGENIERÍA GEOLÓGICA - OYÓN
108       1653                    INGENIERÍA DE MINAS - OYÓN
109        195                            INGENIERIA NUCLEAR
110        196                        INGENIERIA MECATRONICA

[111 rows x 2 columns]

In [39]:
print(df1.isna().sum())

CODIGO                     0
APELLIDOS Y NOMBRES        0
ESCUELA PROFESIONAL        0
PUNTAJE                  560
MERITO E.P             51055
OBSERVACI&OacuteN      50344
IdModalidad                0
Proceso                    0
dtype: int64

In [40]:
df1['PUNTAJE'] = df1['PUNTAJE'].fillna(0)
df1['MERITO E.P'] = df1['MERITO E.P'].fillna(0)
df1 = df1.rename(columns={'OBSERVACI&OacuteN':'OBSERVACIÓN'})
df1['OBSERVACIÓN'] = df1['OBSERVACIÓN'].fillna(0)
print(df1.head(1))
print(df1.isna().sum())
df_filtro_art = df1[(df1['PUNTAJE'] == 'Art. 68º Reglamento de Admisión / Ley Universitaria N.° 30220 y sus modificatorias')]
print(df_filtro_art)
df1['PUNTAJE'] = df1['PUNTAJE'].replace('Art. 68º Reglamento de Admisión / Ley Universitaria N.° 30220 y sus modificatorias',0)
print(df1)

   CODIGO         APELLIDOS Y NOMBRES ESCUELA PROFESIONAL PUNTAJE  MERITO E.P  \
0  859632  ABAD VERA, NILTON ANDERSON     MEDICINA HUMANA  618.75         0.0

  OBSERVACIÓN  IdModalidad Proceso
0           0            0  2025-1
CODIGO                 0
APELLIDOS Y NOMBRES    0
ESCUELA PROFESIONAL    0
PUNTAJE                0
MERITO E.P             0
OBSERVACIÓN            0
IdModalidad            0
Proceso                0
dtype: int64
       CODIGO                      APELLIDOS Y NOMBRES  \
38753  186036       RAMOS QUISPE, ANNIE DE LOS ÁNGELES
38754  115166         MORALES DAMIAN, ANDREA KATHERINE
38755  165188  ENRIQUEZ SOLDEVILLA, LUCERO CYNTHIA SOL
38756  121449                   ESTACIO MEZA, GABRIELA
38757  168402          PACOTAYPE APAZA, ANYHELI MILENA
...       ...                                      ...
57841  309556               MOZO VARGAS, RENZO ENRIQUE
57842  265810                PADILLA RIVAS, BRYAN KEEN
57843  312141            GOMEZ HUALLPA, MARGUEL JHULIO
57854  260122             PALOMINO PEÑA, LUDWIN MIJAEL
57860  231128           BERNAL HERNÁNDEZ, RYAN GABRIEL

                                ESCUELA PROFESIONAL  \
38753  TEC. MED. LAB. CLÍNICO Y ANATOMÍA PATOLÓGICA
38754     TEC. MED. TERAPIA FÍSICA Y REHABILITACIÓN
38755                          TEC. MED. RADIOLOGÍA
38756                          TEC. MED. RADIOLOGÍA
38757                          TEC. MED. RADIOLOGÍA
...                                             ...
57841                        INGENIERÍA METALÚRGICA
57842                              INGENIERÍA CIVIL
57843                      ARQUITECTURA Y URBANISMO
57854              INGENIERÍA DE TELECOMUNICACIONES
57860                        INGENIERÍA DE SOFTWARE

                                                 PUNTAJE  MERITO E.P  \
38753  Art. 68º Reglamento de Admisión / Ley Universi...         0.0
38754  Art. 68º Reglamento de Admisión / Ley Universi...         0.0
38755  Art. 68º Reglamento de Admisión / Ley Universi...         0.0
38756  Art. 68º Reglamento de Admisión / Ley Universi...         0.0
38757  Art. 68º Reglamento de Admisión / Ley Universi...         0.0
...                                                  ...         ...
57841  Art. 68º Reglamento de Admisión / Ley Universi...         0.0
57842  Art. 68º Reglamento de Admisión / Ley Universi...         0.0
57843  Art. 68º Reglamento de Admisión / Ley Universi...         0.0
57854  Art. 68º Reglamento de Admisión / Ley Universi...         0.0
57860  Art. 68º Reglamento de Admisión / Ley Universi...         0.0

           OBSERVACIÓN  IdModalidad Proceso
38753  ALCANZO VACANTE            1  2025-2
38754  ALCANZO VACANTE            1  2025-2
38755  ALCANZO VACANTE            1  2025-2
38756  ALCANZO VACANTE            1  2025-2
38757  ALCANZO VACANTE            1  2025-2
...                ...          ...     ...
57841  ALCANZO VACANTE            8  2025-2
57842  ALCANZO VACANTE            8  2025-2
57843  ALCANZO VACANTE            8  2025-2
57854  ALCANZO VACANTE            8  2025-2
57860  ALCANZO VACANTE            9  2025-2

[151 rows x 8 columns]
       CODIGO                  APELLIDOS Y NOMBRES  \
0      859632           ABAD VERA, NILTON ANDERSON
1      848256    ABANTO CCAHUANA, NICOLE ALEXANDRA
2      858518  ABANTO CHOQUEHUANCA, KAREN ESTEFANY
3      862333      ABANTO GUIZADO, MATHIAS JOAQUIN
4      856511           ABANTO MARCOS, BRISA MARIA
...       ...                                  ...
57882  146772      SILVESTRE ATOCHE, MATTEO MARTIN
57883  182148   TUPIÑO COLQUI, ANGIELI MARIA SOFIA
57884  743153            CÁCERES SANDOVAL, EDUARDO
57885  815534       BAYLON CAMPOJO, LUIS FABRIZZIO
57886  195220  BALLON CHANDUVI, REYNA LEONOR ALEXA

                             ESCUELA PROFESIONAL  PUNTAJE  MERITO E.P  \
0                                MEDICINA HUMANA   618.75         0.0
1                                MEDICINA HUMANA  950.375         0.0
2                                MEDICINA HUMANA   1035.5         0.0
3                                MEDICINA HUMANA  667.375         0.0
4                                MEDICINA HUMANA  356.875         0.0
...                                          ...      ...         ...
57882  TEC. MED. TERAPIA FÍSICA Y REHABILITACIÓN   608.25         1.0
57883  TEC. MED. TERAPIA FÍSICA Y REHABILITACIÓN  560.875         0.0
57884                        COMUNICACIÓN SOCIAL  981.625         1.0
57885                           EDUCACIÓN FÍSICA  979.501         1.0
57886                                 PSICOLOGÍA  629.625         1.0

           OBSERVACIÓN  IdModalidad Proceso
0                    0            0  2025-1
1                    0            0  2025-1
2                    0            0  2025-1
3                    0            0  2025-1
4                    0            0  2025-1
...                ...          ...     ...
57882  ALCANZO VACANTE           11  2025-2
57883                0           11  2025-2
57884  ALCANZO VACANTE           11  2025-2
57885  ALCANZO VACANTE           11  2025-2
57886  ALCANZO VACANTE           11  2025-2

[57887 rows x 8 columns]

In [41]:
df_filtro_art = df1[(df1['PUNTAJE'] == 'Art. 68º Reglamento de Admisión / Ley Universitaria N.° 30220 y sus modificatorias')]
print(df_filtro_art)

Empty DataFrame
Columns: [CODIGO, APELLIDOS Y NOMBRES, ESCUELA PROFESIONAL, PUNTAJE, MERITO E.P, OBSERVACIÓN, IdModalidad, Proceso]
Index: []

In [42]:
df_modalidad = df1[(df1['IdModalidad']==3) & (df1['OBSERVACIÓN']=='ALCANZO VACANTE')]
filas, columnas = df_modalidad.shape
print(filas)

30

In [43]:
tobla_modalidades = 'tabla_modalidades_unidas.csv'
df_modalidades =pd.read_csv(tobla_modalidades)
df_combinar1= df1.merge(df_modalidades, left_on="IdModalidad", right_on="id_modalidad", how="left")
print(df_combinar1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57887 entries, 0 to 57886
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CODIGO               57887 non-null  int64
 1   APELLIDOS Y NOMBRES  57887 non-null  object
 2   ESCUELA PROFESIONAL  57887 non-null  object
 3   PUNTAJE              57887 non-null  object
 4   MERITO E.P           57887 non-null  float64
 5   OBSERVACIÓN          57887 non-null  object
 6   IdModalidad          57887 non-null  int64
 7   Proceso              57887 non-null  object
 8   id_modalidad         57887 non-null  int64
 9   Modalidad            57887 non-null  object
dtypes: float64(1), int64(3), object(6)
memory usage: 4.4+ MB
None

In [44]:
df_seleccionar_datos_1 = df_combinar1[["CODIGO","APELLIDOS Y NOMBRES","id_modalidad","Modalidad","MERITO E.P","OBSERVACIÓN","ESCUELA PROFESIONAL","PUNTAJE","Proceso"]]
print(df_seleccionar_datos_1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57887 entries, 0 to 57886
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CODIGO               57887 non-null  int64
 1   APELLIDOS Y NOMBRES  57887 non-null  object
 2   id_modalidad         57887 non-null  int64
 3   Modalidad            57887 non-null  object
 4   MERITO E.P           57887 non-null  float64
 5   OBSERVACIÓN          57887 non-null  object
 6   ESCUELA PROFESIONAL  57887 non-null  object
 7   PUNTAJE              57887 non-null  object
 8   Proceso              57887 non-null  object
dtypes: float64(1), int64(2), object(6)
memory usage: 4.0+ MB
None

In [45]:
tabla_carreras = 'tabla_carreras_unidas.csv'
df_carreras = pd.read_csv(tabla_carreras)
df_combinar2 = df_seleccionar_datos_1.merge(df_carreras, left_on="ESCUELA PROFESIONAL", right_on="Carrera")
print(df_combinar2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57887 entries, 0 to 57886
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CODIGO               57887 non-null  int64
 1   APELLIDOS Y NOMBRES  57887 non-null  object
 2   id_modalidad         57887 non-null  int64
 3   Modalidad            57887 non-null  object
 4   MERITO E.P           57887 non-null  float64
 5   OBSERVACIÓN          57887 non-null  object
 6   ESCUELA PROFESIONAL  57887 non-null  object
 7   PUNTAJE              57887 non-null  object
 8   Proceso              57887 non-null  object
 9   IdCarrera            57887 non-null  int64
 10  Carrera              57887 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 4.9+ MB
None

In [46]:
df_seleccionar_datos_2 = df_combinar2[["CODIGO","APELLIDOS Y NOMBRES","IdCarrera","Carrera","id_modalidad","Modalidad","MERITO E.P","OBSERVACIÓN","PUNTAJE","Proceso"]]
print(df_seleccionar_datos_2.info())
print(df_seleccionar_datos_2.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57887 entries, 0 to 57886
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CODIGO               57887 non-null  int64
 1   APELLIDOS Y NOMBRES  57887 non-null  object
 2   IdCarrera            57887 non-null  int64
 3   Carrera              57887 non-null  object
 4   id_modalidad         57887 non-null  int64
 5   Modalidad            57887 non-null  object
 6   MERITO E.P           57887 non-null  float64
 7   OBSERVACIÓN          57887 non-null  object
 8   PUNTAJE              57887 non-null  object
 9   Proceso              57887 non-null  object
dtypes: float64(1), int64(3), object(6)
memory usage: 4.4+ MB
None
CODIGO                 0
APELLIDOS Y NOMBRES    0
IdCarrera              0
Carrera                0
id_modalidad           0
Modalidad              0
MERITO E.P             0
OBSERVACIÓN            0
PUNTAJE                0
Proceso                0
dtype: int64

In [47]:
def colocar_area(carrera):
    if 'MEDICINA' in carrera:
        return 'A'
    elif 'OBSTETRICIA' in carrera:
        return 'A'
    elif 'ENFERMERIA' in carrera:
        return 'A'
    elif 'TEC. MED.' in carrera:
        return 'A'
    elif 'NUTRICIÓN' in carrera:
        return 'A'
    elif 'FARMACIA Y BIOQUÍMICA' in carrera:
        return 'A'
    elif 'CIENCIAS DE LOS ALIMENTOS' in carrera:
        return 'A'
    elif 'TOXICOLOGÍA' in carrera:
        return 'A'
    elif 'ODONTOLOGÍA' in carrera:
        return 'A'
    elif 'MEDICINA VETERINARIA' in carrera:
        return 'A'
    elif 'PSICOLOGÍA' in carrera:
        return 'A'
    elif 'QUÍMICA' in carrera:
        return 'B'
    elif 'CIENCIAS BIOLÓGICAS' in carrera:
        return 'B'
    elif 'GENÉTICA Y BIOTECNOLOGÍA' in carrera:
        return 'B'
    elif 'FÍSICA' in carrera:
        return 'B'
    elif 'MATEMÁTICA' in carrera:
        return 'B'
    elif 'ESTADÍSTICA' in carrera:
        return 'B'
    elif 'INVESTIGACIÓN OPERATIVA' in carrera:
        return 'B'
    elif 'COMPUTACIÓN CIENTÍFICA' in carrera:
        return 'B'
    elif 'INGENIERÍA' in carrera:
        return 'C'
    elif 'CIENCIA DE LA COMPUTACIÓN' in carrera:
        return 'C'
    elif 'ARQUITECTURA' in carrera:
        return 'C'
    elif 'ADMINISTRACIÓN' in carrera:
        return 'D'
    elif 'MARKETING' in carrera:
        return 'D'
    elif 'CONTABILIDAD' in carrera:
        return 'D'
    elif 'GESTIÓN' in carrera:
        return 'D'
    elif 'AUDITORIA' in carrera:
        return 'D'
    elif 'PRESUPUESTO' in carrera:
        return 'D'
    elif 'CRIMINALÍSTICA' in carrera:
        return 'D'
    elif 'ECONOMÍA' in carrera:
        return 'D'
    else:
        return 'E'
df_seleccionar_datos_2['AREA'] = df_seleccionar_datos_2['Carrera'].apply(colocar_area)
print(df_seleccionar_datos_2.info())
print(df_seleccionar_datos_2.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57887 entries, 0 to 57886
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CODIGO               57887 non-null  int64
 1   APELLIDOS Y NOMBRES  57887 non-null  object
 2   IdCarrera            57887 non-null  int64
 3   Carrera              57887 non-null  object
 4   id_modalidad         57887 non-null  int64
 5   Modalidad            57887 non-null  object
 6   MERITO E.P           57887 non-null  float64
 7   OBSERVACIÓN          57887 non-null  object
 8   PUNTAJE              57887 non-null  object
 9   Proceso              57887 non-null  object
 10  AREA                 57887 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 4.9+ MB
None
CODIGO                 0
APELLIDOS Y NOMBRES    0
IdCarrera              0
Carrera                0
id_modalidad           0
Modalidad              0
MERITO E.P             0
OBSERVACIÓN            0
PUNTAJE                0
Proceso                0
AREA                   0
dtype: int64

In [48]:
def id_area(area):
    if area == 'A':
        return 0
    elif area == 'B':
        return 1
    elif area == 'C':
        return 2
    elif area == 'D':
        return 3
    elif area == 'E':
        return 4
df_seleccionar_datos_2['Id_area'] = df_seleccionar_datos_2['AREA'].apply(id_area)
print(df_seleccionar_datos_2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57887 entries, 0 to 57886
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CODIGO               57887 non-null  int64
 1   APELLIDOS Y NOMBRES  57887 non-null  object
 2   IdCarrera            57887 non-null  int64
 3   Carrera              57887 non-null  object
 4   id_modalidad         57887 non-null  int64
 5   Modalidad            57887 non-null  object
 6   MERITO E.P           57887 non-null  float64
 7   OBSERVACIÓN          57887 non-null  object
 8   PUNTAJE              57887 non-null  object
 9   Proceso              57887 non-null  object
 10  AREA                 57887 non-null  object
 11  Id_area              57887 non-null  int64
dtypes: float64(1), int64(4), object(7)
memory usage: 5.3+ MB
None

In [49]:
def nombre_area(area):
    if area == 'A':
        return 'CIENCIAS DE LA SALUD'
    elif area == 'B':
        return 'CIENCIAS BÁSICAS'
    elif area == 'C':
        return 'INGENIERÍA'
    elif area == 'D':
        return 'CIENCIAS ECONÓMICAS Y DE LA GESTIÓN'
    elif area == 'E':
        return 'HUMANIDADES Y CIENCIAS JURÍDICAS Y SOCIALES'

df_seleccionar_datos_2['Nombre_area'] = df_seleccionar_datos_2['AREA'].apply(nombre_area)
print(df_seleccionar_datos_2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57887 entries, 0 to 57886
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CODIGO               57887 non-null  int64
 1   APELLIDOS Y NOMBRES  57887 non-null  object
 2   IdCarrera            57887 non-null  int64
 3   Carrera              57887 non-null  object
 4   id_modalidad         57887 non-null  int64
 5   Modalidad            57887 non-null  object
 6   MERITO E.P           57887 non-null  float64
 7   OBSERVACIÓN          57887 non-null  object
 8   PUNTAJE              57887 non-null  object
 9   Proceso              57887 non-null  object
 10  AREA                 57887 non-null  object
 11  Id_area              57887 non-null  int64
 12  Nombre_area          57887 non-null  object
dtypes: float64(1), int64(4), object(8)
memory usage: 5.7+ MB
None

In [50]:
def codigo_proceso(proceso):
    if proceso == '2025-1':
        return 1
    elif proceso == '2025-2':
        return 2
df_seleccionar_datos_2['Id_proceso'] = df_seleccionar_datos_2['Proceso'].apply(codigo_proceso)
print(df_seleccionar_datos_2.head(1))
print(df_seleccionar_datos_2.info())

   CODIGO         APELLIDOS Y NOMBRES  IdCarrera          Carrera  \
0  859632  ABAD VERA, NILTON ANDERSON         11  MEDICINA HUMANA

   id_modalidad                                          Modalidad  \
0             0  educación básica regular (ebr) y educación bás...

   MERITO E.P OBSERVACIÓN PUNTAJE Proceso AREA  Id_area           Nombre_area  \
0         0.0           0  618.75  2025-1    A        0  CIENCIAS DE LA SALUD

   Id_proceso
0           1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57887 entries, 0 to 57886
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CODIGO               57887 non-null  int64
 1   APELLIDOS Y NOMBRES  57887 non-null  object
 2   IdCarrera            57887 non-null  int64
 3   Carrera              57887 non-null  object
 4   id_modalidad         57887 non-null  int64
 5   Modalidad            57887 non-null  object
 6   MERITO E.P           57887 non-null  float64
 7   OBSERVACIÓN          57887 non-null  object
 8   PUNTAJE              57887 non-null  object
 9   Proceso              57887 non-null  object
 10  AREA                 57887 non-null  object
 11  Id_area              57887 non-null  int64
 12  Nombre_area          57887 non-null  object
 13  Id_proceso           57887 non-null  int64
dtypes: float64(1), int64(5), object(8)
memory usage: 6.2+ MB
None

In [51]:
df_seleccionar_datos_2['MERITO E.P'] = df_seleccionar_datos_2['MERITO E.P'].astype(int)
df_seleccionar_datos_2['PUNTAJE'] = df_seleccionar_datos_2['PUNTAJE'].astype(str).str.replace('.', ',')
print(df_seleccionar_datos_2.info())
df_seleccionar_datos_2.to_csv('TABLAGENERAL.csv',index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57887 entries, 0 to 57886
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CODIGO               57887 non-null  int64
 1   APELLIDOS Y NOMBRES  57887 non-null  object
 2   IdCarrera            57887 non-null  int64
 3   Carrera              57887 non-null  object
 4   id_modalidad         57887 non-null  int64
 5   Modalidad            57887 non-null  object
 6   MERITO E.P           57887 non-null  int64
 7   OBSERVACIÓN          57887 non-null  object
 8   PUNTAJE              57887 non-null  object
 9   Proceso              57887 non-null  object
 10  AREA                 57887 non-null  object
 11  Id_area              57887 non-null  int64
 12  Nombre_area          57887 non-null  object
 13  Id_proceso           57887 non-null  int64
dtypes: int64(6), object(8)
memory usage: 6.2+ MB
None

In [52]:
# separamos por columnas
df_seleccionar_datos_tabla_general = df_seleccionar_datos_2[["CODIGO","IdCarrera","id_modalidad","Id_area","Id_proceso","MERITO E.P","OBSERVACIÓN","PUNTAJE"]]
df_seleccionar_datos_alumno = df_seleccionar_datos_2[["CODIGO","APELLIDOS Y NOMBRES"]]
df_seleccionar_datos_carrera = df_seleccionar_datos_2[["IdCarrera","Carrera"]]
df_seleccionar_datos_modalidad = df_seleccionar_datos_2[["id_modalidad","Modalidad"]]
df_seleccionar_datos_area = df_seleccionar_datos_2[["Id_area","AREA","Nombre_area"]]
df_seleccionar_datos_proceso = df_seleccionar_datos_2[["Id_proceso","Proceso"]]

In [53]:
# Exportamos a csv
df_seleccionar_datos_tabla_general.to_csv('RESULTADOS.csv',index=False)
df_seleccionar_datos_alumno.to_csv('ALUMNO.csv',index=False)
df_seleccionar_datos_carrera.to_csv('CARRERA.csv',index=False)
df_seleccionar_datos_modalidad.to_csv('MODALIDADES.csv',index=False)
df_seleccionar_datos_area.to_csv('AREAS.csv',index=False)
df_seleccionar_datos_proceso.to_csv('HECHOS.csv',index=False)

In [54]:
nueva_tabla = 'RESULTADOS.csv'
df_nueva_tabla = pd.read_csv(nueva_tabla)
df_nueva_tabla = df_nueva_tabla[["IdCarrera","Id_proceso","id_modalidad","PUNTAJE","OBSERVACIÓN"]]
print(df_nueva_tabla.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57887 entries, 0 to 57886
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   IdCarrera     57887 non-null  int64
 1   Id_proceso    57887 non-null  int64
 2   id_modalidad  57887 non-null  int64
 3   PUNTAJE       57887 non-null  object
 4   OBSERVACIÓN   57887 non-null  object
dtypes: int64(3), object(2)
memory usage: 2.2+ MB
None

In [89]:
# Filtrar por OBSERVACIÓN = "ALCANZO VACANTE"
df_filtrado = df_nueva_tabla[df_nueva_tabla["OBSERVACIÓN"] == "ALCANZO VACANTE"]

# Agrupar por IdCarrera y Id_proceso y obtener máximo y mínimo de PUNTAJE
df_resultado = df_filtrado.groupby(["IdCarrera", "Id_proceso","id_modalidad"])["PUNTAJE"].agg(['max', 'min']).reset_index()

# Renombrar columnas para mayor claridad
df_resultado.rename(columns={"max": "PUNTAJE_MAX", "min": "PUNTAJE_MIN"}, inplace=True)

print(df_resultado)
df_resultado.to_csv('PuntajesMaxMinPorIdCarreraIdProcesoIdModalidad.csv', index=False)

     IdCarrera  Id_proceso  id_modalidad PUNTAJE_MAX PUNTAJE_MIN
0           11           1             0    1628,875    1353,625
1           11           1             1     1523,25    1194,375
2           11           1             2     944,875     944,875
3           11           1             4     948,875     832,375
4           11           1             6    1325,375    1305,375
..         ...         ...           ...         ...         ...
400       1815           1             4     882,875     882,875
401       1816           1             0      822,25      456,25
402       1924           1             0       962,0    1025,375
403       1924           1             1      319,25      319,25
404       1924           1             4       401,0       401,0

[405 rows x 5 columns]